/* RegistroEmpresa.css */

/* Color de fondo de la página */
body {
  background-color: #FFF8F3;
}

/* Fuente de la página */
textarea {
  font-family: 'Inter', sans-serif;
}

/* Contenedor para el logo */
.logo_empresa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

/* Dimensiones de la imagen */
.logo_img {
  max-width: 100%;
  height: auto;
  width: 400px;
}

/* Contenedor principal del header */
.header {
  color: white;
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  margin: 0;
  border-bottom: #758694 1px solid;
}

/* Contenedor general de la barra de navegación*/
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contenedor principal que agrupa enlaces y botones de navegación */
.navbar-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* Contenedor para agrupar los enlaces que se encuentran a la izquierda de la barra de navegación */
.navbar-links-left {
  display: flex;
  justify-content: space-between;
}

/* Contenedor para agrupar los enlaces que se encuentran a la derecha de la barra de navegación */
.navbar-links-right {
  display: flex;
}

/* Estilos que se aplican a todos los enlaces dentro de la barra de navegación */
.navbar-links a {
  text-decoration: none;
  color: inherit;
  margin-right: 15px;
}

/* Contenedor para agrupar los enlaces que se encuentran en el centro de la barra de navegación */
.navbar-links-center {
  font-weight: bold;
  color: #405D72;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  transition: color 0.3s ease;
}

/* Efecto al pasar el cursor */
.navbar-links-center a:hover {
  color: #758694;
}

/* Estilo para los botones ubicados a la derecha de la barra de navegación */
.navbar-links .botones_derecha {
  background-color: #F7E7DC;
  color: #2b3f4e;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  gap: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* Efecto al pasar el cursor */
.navbar-links .botones_derecha:hover {
  background-color: #e4c3ae;
  color: #2b3f4e;
}

/* Estilo para los botones ubicados a la izquierda de la barra de navegación */
.navbar-links .botones_izquierda {
  background-color: #405D72;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  gap: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* Efecto al pasar el cursor */
.navbar-links .botones_izquierda:hover {
  background-color: #758694;
  color: #2b3f4e;
}

.caja_input {
  margin-bottom: 16px;
}

/* Estilos para los campos del formulario */
.input,
.textarea,
.select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #FFF8F3;
  border: 1px solid #758694;
  border-radius: 4px;
}

.textarea {
  background-color: #FFF8F3;
}

.input, .select{
  margin-top: 15px;
}

/* Estilo para etiquetas dentro del formulario */
.label {
  display: block;
  text-align: left;
  margin-top: 0px;
  margin-bottom:  4px;
}

/* Contenedor para campos de dirección */
.direccion {
  margin-bottom: 16px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* Estilo para los campos de dirección dentro del contenedor */
.direccion > div {
  flex: 1 1 45%;
  min-width: 200px;
}

/* Contenedor para los botones de navegación */
.contenedor_botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 5px;
}

/* Estilo para los botones de navegación */
.boton_siguiente, .boton_volver {
  padding: 10px 20px;
  background-color: #405D72;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

/* Efecto al pasar el cursor */
.boton_siguiente:hover, .boton_volver:hover {
  background-color: #758694;
}

/* Contenedor principal del formulario */
.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Botón para eliminar dirección o teléfono */
.boton_eliminar {
  padding: 8px 12px;
  background-color: #f7e7dc;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Efecto al pasar el cursor */
.boton_eliminar:hover {
  background-color: #e99b9b;
  color: white;
}

/* Botón para añadir dirección o teléfono */
.boton_añadir {
  padding: 10px 16px;
  background-color: #405D72;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Efecto al pasar el cursor */
.boton_añadir:hover {
  background-color: #758694;
}

/* Cuando ya se hayan agregado 100 direcciones o teléfonosm, se deshabilita el botón*/
.boton_añadir:disabled {
  background-color: #e99b9b;
  cursor: not-allowed;
}
