/* RegistroEmpleador.css */

/* Estilo para los campos del formulario */
.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #FFF8F3;
  border: 1px solid #758694;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 100%;
}

/* Estilo global para etiquetas dentro del formulario */
.label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.textarea {
  background-color: #FFF8F3;
}

.caja_input {
  margin-bottom: 16px;
}

/* Estilo para los contenedores de primer, segundo nombre o apellido */
.nombre {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

/* Estilo para los campos de nombre dentro del contenedor */
.nombre > div {
  flex: 1;
  max-width: 300px;
}

/* Contenedor para campos de dirección */
.direccion {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Estilo para los campos de dirección dentro del contenedor */
.direccion > div {
  width: 32%;
}

/* Estilo para los botones de navegación: siguiente */
.boton_siguiente {
  padding: 10px 20px;
  background-color: #405D72;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* Efecto al pasar el cursor */
.boton_siguiente:hover {
  background-color: #758694;
}

/* Contenedor principal del formulario */
.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}