/* RegisterEmployer.css */

.RegisterCompanyForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.InputBox{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #FFF8F3;
  border: 1px solid #758694;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 100%;
}

.Label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.TextArea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #FFF8F3;
  border: 1px solid #758694;
  border-radius: 4px;
}

.InputSection {
  margin-bottom: 16px;
}

.InputSectionForNames {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.InputSectionForNames > div {
  flex: 1;
  max-width: 300px;
}

.AddressSection {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.AddressSection > div {
  width: 32%;
}

.NextPageButton {
  padding: 10px 20px;
  background-color: #405D72;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.NextPageButton:hover {
  background-color: #758694;
}