/* RegistroEmpleador.css */

body {
  background-color: #FFF8F3;
}

.header {
  background-color: #F7E7DC;
  color: white;
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  margin: 0;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-links-left {
  display: flex;
  justify-content: space-between;
}

.navbar-links-right {
  display: flex;
}

.navbar-links a {
  text-decoration: none;
  color: inherit;
  margin-right: 15px;
}

.navbar-links-center {
  color: #405D72;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.navbar-links .botones_derecha, .botones_izquierda {
  background-color: #405D72;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  gap: 10px;
  display: inline-block;
  vertical-align: middle;
}

.navbar-links .botones_derecha:hover, .botones_izquierda:hover {
  background-color: #758694;
  color: #2b3f4e;
}

.input {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #FFF8F3;
  border: 1px solid #758694;
  border-radius: 4px;
}

.nombre {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.nombre > div {
  flex: 1;
  max-width: 300px;
}

.direccion {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.direccion > div {
  width: 32%;
}

.boton_siguiente {
  padding: 10px 20px;
  background-color: #405D72;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.boton_siguiente:hover {
  background-color: #758694;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
